article p{
	padding-bottom: 10px;
	padding-top: 10px;
}

article{
	padding-left: 5%;
	padding-right: 10%;
}

article h2{
	font-size: 30px;
	font-weight: bold;
}

/*.sidebar p{
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 15px;
}*/
.sidebar h2{
	font-weight: bold;
	margin-bottom: 5px;
}

.sidebar em{
	visibility: hidden;
}

.sidebar li::before {
    content: "\2022\0020"; /* Unicode for a bullet (•), change to any desired symbol */
}


p {
	hyphens: auto !important;

}


blockquote{
	background-color: #f6f8fa !important;
	padding:  10px !important;
	border-left:  5px solid darkgray !important;
}



pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}