<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="styles/custom.css">
  <link rel="alternate" type="application/rss+xml" title="PyHerald Feed" href="{{path}}rss.xml" />
  <title></title>
  <style type="text/css">
    a {
  word-wrap: break-word;
}
  </style>
</head>
<body>


<section class="section">
  <p class="is-size-1 has-text-centered">
    <b>Py Herald</b><span class="is-size-7" style="display: block;"><b><i>PythonLand's newspaper</i></b></span>
  </p>
</section>
<section class="section">
  <hr>

<a href="https://forms.gle/ijEnYXooH8mgj48J7">submit</a> | <a href="/">home</a>

<hr>

</section>


<section class="section section_cust">
  <div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box sidebar_cust">
      <!--JB Tracker--> <script type="text/javascript"> var _paq = _paq || []; (function(){ if(window.apScriptInserted) return; _paq.push(['clientToken', '9qaLnskLkyMWoYsTC5erAwJXH0NsRoTOAwYgKnfXM0Ji0V6gdQ33rW0EUSACdqVn']); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://prod.benchmarkemail.com/tracker.bundle.js'; s.parentNode.insertBefore(g,s); window.apScriptInserted=true;})(); </script> <!--/JB Tracker-->  <!-- BEGIN: Benchmark Email Signup Form Code -->
<script type="text/javascript" id="lbscript1625799" src="https://lb.benchmarkemail.com//code/lbformnew.js?mFcQnoBFKMQek1hokAA3RMgJdt4KRNs4eUfk4CCjZyhk78%252B11n%252Fx4Q%253D%253D"></script><noscript>Please enable JavaScript <br /><div align="center" style="padding-top:5px;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;"><a href="https://www.benchmarkemail.com/email-marketing?utm_source=usersignupforms&utm_medium=customers&utm_campaign=usersignupforms" target="_new" style="text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;">Email Marketing </a> by Benchmark</div></noscript>
<!-- END: Benchmark Email Signup Form Code -->

<hr>



{% include 'sections/rss_follow.html' %}


    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box p-6" style="overflow-wrap: break-word;   word-break: break-all;text-align: justify;
  text-justify: inter-word;">
      {% for article in archive_articles %}
      {% set aname = article.strip('.html') %}
        <p><a href="/articles/{{aname}}">{{aname}}</a></p>
      
      {% endfor %}
    </div>
  </div>
</div>
</section>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="https://twitter.com/osdotsystem">Editor in chief</a>, by <a href="https://pypi.org/project/jamstack/"> pypi's jamstack</a>. Crafted on <a href="https://github.com/pyherald/pyherald/">Github</a> 
    </p>
  </div>
  <div>
    <a href="https://www.ontoplist.com/software-blogs/" target="_blank"><img src="https://www.ontoplist.com/images/ontoplist31.png?id=61f3d0384ea64" alt="Best Software Development Blogs - OnToplist.com" border="0"></a>
    <a href="https://follow.it/pyherald-feed?action=followPub">
      <img src="{{path}}assets/img/follow.png">
    </a>
  </div>
</footer>
</body>
</html>