<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="follow.it-verification-code" content="DWddlKjF8ANfzNv9WvP9"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="{{path}}styles/custom.css">
  <link rel="alternate" type="application/rss+xml" title="PyHerald Feed" href="https://pyherald.com/rss.xml" />
  <title></title>
  <style type="text/css">
    a {
  word-wrap: break-word;
}
  </style>
</head>
<body>


<section class="section">
  <p class="is-size-1 has-text-centered">
    <b>Py Herald</b><span class="is-size-7" style="display: block;"><b><i>PythonLand's newspaper</i></b></span>
  </p>
</section>
<section class="section">
  <hr>

{{ date_edition }} | <a href="/archives">archives</a> | <a href="https://forms.gle/ijEnYXooH8mgj48J7">submit</a> | <a href="{{permalink}}">permalink</a>{% if display_home %} | <a href="/">home</a> {% endif %}

<hr>

</section>


<section class="section section_cust">
  <div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box sidebar_cust">
      <script>
  (function (s, e, n, d, er) {
    s['Sender'] = er;
    s[er] = s[er] || function () {
      (s[er].q = s[er].q || []).push(arguments)
    }, s[er].l = 1 * new Date();
    var a = e.createElement(n),
        m = e.getElementsByTagName(n)[0];
    a.async = 1;
    a.src = d;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
  sender('4f224455947400')
</script>

<div style="text-align: left" class="sender-form-field" data-sender-form-id="m4o56g5ob2k8pppfqau"></div>

<hr>
RSS
{% include 'sections/rss_follow.html' %}

<hr>

    <div class="sidebar">
      {{sidebar | safe}}
    </div>
      

<hr>

{%block sidebar_raw%}{%endblock%}
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box p-6" style="overflow-wrap: break-word;   word-break: break-all;text-align: justify;
  text-justify: inter-word;">
      <article>
        {{article | safe}}
      </article>
  

    </div>
  </div>
</div>
</section>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="https://twitter.com/osdotsystem">Editor in chief</a>, by <a href="https://pypi.org/project/jamstack/"> pypi's jamstack</a>. Crafted on <a href="https://github.com/pyherald/pyherald/">Github</a> 
    </p>
  </div>
  <div>
    <a href="https://www.ontoplist.com/software-blogs/" target="_blank"><img src="https://www.ontoplist.com/images/ontoplist31.png?id=61f3d0384ea64" alt="Best Software Development Blogs - OnToplist.com" border="0"></a>
    <a href="https://follow.it/pyherald-feed?action=followPub">
      <img src="{{path}}assets/img/follow.png">
    </a>
  </div>
</footer>
</body>
</html>